
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src={{currency.flag}} alt=""  id="upper-img" >
        <p id="rateParagraph" >{{currency.shortName}}</p>
        <input class="form-control" type="number" [(ngModel)]="amount" (ngModelChange)="onConvert()" id="input-num" name="amount" id="input-num" style="color: white;  background-color: rgba(128, 0, 128, 0); width: 70%; ">
        <p style="font-size: small;">Amount for convert</p>
      </div>
      <div class="col-sm" id="arrow">
        <img src="assets/img/arrow.png" alt="" style="width:100px ; height: 50px;">
      </div>
      <div class="col-sm" >
        <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Flag_of_Serbia.svg/1920px-Flag_of_Serbia.svg.png" alt=""  id="upper-img" >
        <p id="rateParagraph" >RSD</p>
        <div id="result-div" style="width: 70%; ">
          <p style="margin-bottom: 0px; text-align: center; margin-top: 6px;">{{result}}</p>
          </div>
          <p style="font-size: small">Converted Amount</p>
      </div>
    </div>
  </div>



