* {
  color: white;
}

#upper-img {
  margin-top: 10px;
  width: 60px;
  height: 30px;
  border-radius: 5px;
}

#result-div {
  box-sizing: border-box;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
  height: 38px;
  width: 115px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

#input-num {
  background-color: rgba(255, 255, 255, 0);
  width: 115px;
  color: white;
  text-align: center;
}

#rateParagraph {

  margin-bottom: 0px;
}

#rsd-paragraph {
  margin-bottom: 0px;
}