<div class="row">
  <div class="currency-img-div" >
    <img class="currency-img" src="https://icon-library.com/images/money-exchange-icon/money-exchange-icon-24.jpg" alt="logo.img">
  </div>
  <div style="text-align: center;">
    <h2 style="color: white;">
      Currency Converter
    </h2>
  </div>
  <div>
    <p class="desc-txt">
      A currency converter for quick view and comparasion of live current & historical exchange rates between all globally recognized currencies and commodities.
      <span>
        <h3>Choose the currency you want to convert!</h3>
      </span>
    </p>


</div>

</div>

