<!--<a href="" style=" text-decoration: none; color:white" [routerLink]="[id]">
  <div class="container text-center" id="detail-row">
    <div class="row align-items-center">
      <div class="col-md-2" id="col1" style="display: flex;">
        <img id="flag" src={{currency.flag}} alt="flag image">
      </div>
      <div class="col-md" id="col2" style="text-align: left;">
        <h6 class="cur-short-name">{{currency.shortName}}</h6>
        <p class="cur-name">{{currency.name}}</p>
      </div>
    </div>
  <hr width="auto">
  </div>
</a>-->

<a href="" style=" text-decoration: none; color:white" [routerLink]="[id]">
  <div class="row">
    <div class="col-1 d-flex align-items-center">
      <img id="flag" src={{currency.flag}} alt="flag image">
    </div>
    <div class="col-11">
      <h6 id="short-name" class="cur-short-name">{{currency.shortName}}</h6>
      <p id="currency-name" class="cur-name">{{currency.name}}</p>
    </div>
  </div>
  <hr>
</a>



