#main-div {
  background-image: url("D:\ANGULAR\currency-converter\world-map.jpg");
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: auto;
  background-color: purple;

}

#background-transparency {
  background-color: rgba(0, 0, 0, 0.61);
  height: auto;
  min-height: 100vh;

}