.section{
  background-image: url("C:\Users\Miki\Desktop\currency-converter\world-map.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;



}
.col-sm{
  display: flex;
  justify-content: center;
}
.container{
  padding-top: 100px;

}
.background-transparency{
  background-color: rgba(0, 0, 0, 0.61);
  z-index: 100;
}









