<div class="section" style="height: 100vh;">
  <div class="background-transparency" style="height: 100vh;">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <app-description *ngIf="appActive===true"></app-description>
        </div>
        <div class="col-sm">
          <app-converter *ngIf="appActive===true"></app-converter>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <app-home *ngIf="appActive===false"></app-home>
        </div>

      </div>
    </div>
  </div>

</div>





